<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Acme Inc.</title>
    <!-- <link href="/stylesheets/application.css" rel="stylesheet" />
    <script src="/javascripts/application.js"></script> -->
  </head>

  <body>
    <%== yield %>
  </body>
</html>
